body{
	margin: 50px 20% 50px 20%;
	border-radius: 15px;
	box-shadow:  -24px -24px 48px #0b0b0b,
	             24px 24px 48px   #0a0a0a;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

html {
	background-color: #0f0f0f;
	color: grey;
}

#right { text-align: right; }

h1{
	font-size: 30pt;
	padding: inherit;
	margin:  inherit;
}

h2{
	font-size: 16pt;
	text-align: left;
	padding: inherit;
	margin:  inherit;
}

h3{
	font-size: 15pt;
}

p{
	font-size: 14pt;
}

li{
	font-size: 14pt;
}

a{
	color: lightgrey;
	text-decoration: none;
}

header{
	text-align: left;
	margin: 0px;
}

footer{
	font-size: 15pt;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 99%;
}

div.right {
	float: right;
}
