body{
	margin: 1.75cm 10% 50px 10%;
    /*
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    */
}

/*
html {
	background-color: #0f0f0f;
	color: grey;
}
*/

#right { text-align: right; }

h1{
    font-family: sans-serif;
	font-size: 35pt;
	padding: inherit;
	margin:  inherit;
}

h2{
    font-family: sans-serif;
	font-size: 18pt;
	text-align: left;
	padding: inherit;
	margin:  inherit;
}

h3{
    font-family: sans-serif;
	font-size: 18pt;
}

p{
    font-family: sans-serif;
	font-size: 18pt;
}

li{
    font-family: sans-serif;
	font-size: 18pt;
}

/*
a{
	color: lightgrey;
	text-decoration: none;
}
*/

header{
	text-align: left;
	margin: 0px;
}

footer{
	font-size: 15pt;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 99%;
}

div.right {
	float: right;
}
